.cts_nav_link {
  position: relative;
  padding: 0px 15px;
  transition: 0.4s;
  transition: 0.5s;
  font-family: sans-serif;
  font-size: 16px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
  color: white !important;
  text-decoration: none !important;
}
.cts_nav_link::before {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 2px;
  bottom: -14px;
  left: center;
  background-color: var(--mainColor);
  display: none;
}

.cts_nav_link:hover::before,
.cts_nav_link:hover {
  color: var(--secondColor) !important;
  display: block;
  transform: translateY(1px);
}
/* button {
  color: white !important;
  background-color: transparent !important;
  border-color: white !important;
}

button:hover {
  color: var(--mainColor) !important;
  background-color: transparent !important;
  border-color: var(--mainColor) !important;
} */
.mainTitle {
  font-family: Fugaz One;
}
.mainTitle_md {
  font-family: Fugaz One;
  color: var(--secondColor);
}
.cts_link {
  text-decoration: none !important;
  color: var(--secondColor);
  padding-left: 20px;
  padding-bottom: 35px;
  padding-top: 5px;
  display: block !important;
  transition: 0.4s;
  font-weight: 600;
  font-size: 18px;
  margin-top: 25px;
  height: 35px;
  width: 80%;
  background-color: aliceblue;
}
.cts_link:hover {
  background-color: var(--mainColor);
  color: white;
  border-radius: 5px;
  transform: translateX(20px);
  border-bottom: none;
}
